<h1>Inscripcion list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Apellidos</th>
            <th>Rut</th>
            <th>Fechanacimiento</th>
            <th>Sexo</th>
            <th>Emailpersonal</th>
            <th>Emailintitucional</th>
            <th>Fonofijo</th>
            <th>Fonomovil</th>
            <th>Sede</th>
            <th>Facultad</th>
            <th>Carrera</th>
            <th>Tituloprofesional</th>
            <th>Gradoacademico</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('inscripcion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.apellidos }}</td>
            <td>{{ entity.rut }}</td>
            <td>{% if entity.fechaNacimiento %}{{ entity.fechaNacimiento|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.sexo }}</td>
            <td>{{ entity.emailPersonal }}</td>
            <td>{{ entity.emailIntitucional }}</td>
            <td>{{ entity.fonoFijo }}</td>
            <td>{{ entity.fonoMovil }}</td>
            <td>{{ entity.sede }}</td>
            <td>{{ entity.facultad }}</td>
            <td>{{ entity.carrera }}</td>
            <td>{{ entity.tituloProfesional }}</td>
            <td>{{ entity.gradoAcademico }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('inscripcion_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('inscripcion_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('inscripcion_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
